<div class="overflow-x-auto bg-white rounded shadow">
  <table class="min-w-full">
    <thead>
      <tr>
        <th class="text-left p-4">Name</th>
        <th class="text-left p-4">Age</th>
        <th class="text-left p-4">Hobbies</th>
        <th class="text-left p-4">Element</th>
        <th class="text-left p-4">Active</th>
        <th class="text-left p-4">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% cards.forEach((card) => { %>
      <tr class="border-t">
        <td class="p-4"><%= card.name %></td>
        <td class="p-4"><%= card.age %></td>
        <td class="p-4"><%= card.hobbies %></td>
        <td class="p-4"><%= card.element %></td>
        <td class="p-4">
          <span
            class="block w-4 h-4 rounded-full <%= card.active_status ? 'bg-green-500' : 'bg-red-500' %>"
          ></span>
        </td>
        <td class="p-4">
          <a href="/cards/<%= card.id %>" class="text-blue-600 hover:underline"
            >View</a
          >
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
