<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div
  class="border text-card-foreground w-full max-w-md bg-white rounded-lg shadow-md overflow-hidden"
  data-v0-t="card"
>
  <img
    src=<%= data.profileImage %>
    alt=<%= data.name %>
    class="w-full h-90 object-cover object-center"
    style=" object-fit: cover;"
  />
  <div class="p-6">
    <h2 class="text-2xl font-bold leading-none mb-2"><%= data.name %></h2>
    <p class="text-gray-600 mb-4">
      <%= data.description %>
    </p>
    <div class="text-gray-700">
      <p class="mb-1">
        <strong>Age:</strong> <%= data.age %>
      </p>
      <p class="mb-1">
        <strong>Active:</strong> <%= data.isActive %>
      </p>
      <p class="mb-1">
        <strong>Birth Date:</strong> <%= data.birthDate %>
      </p>
      <p class="mb-1">
        <strong>Role:</strong> <%= data.role %>
      </p>
      <p class="mb-1">
        <lu>
           <strong>Abilities:</strong>
        </lu>
        <% for (ability of data.abilities) { %>
          <li><%= ability %></li> 
        <% } %>
      </p>
      <p class="mb-6">
        <strong>Weapon: </strong> <%= data.weapon.name %> 
      </p>
      <a
        href="/weapons/<%= data.weapon.id %>"
        class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800"
        >View Weapon</a
      >
      <a href="/characters/<%= data.id %>/edit" class="w-full text-white focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Edit Character</a>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
