<%- include("partials/header") %>
<%- include("partials/navbar") %>
<div
  class="border text-card-foreground w-full max-w-md bg-white rounded-lg shadow-md overflow-hidden"
  data-v0-t="card"
>
  <img
    src=<%= data.image %>
    alt=<%= data.name %>
    class="w-full h-90 object-cover object-center"
    style=" object-fit: cover;"
  />
  <div class="p-6">
    <h2 class="text-2xl font-bold leading-none mb-2"><%= data.name %></h2>
    <p class="text-gray-600 mb-4">
      <%= data.description %>
    </p>
    <div class="text-gray-700">
      <p class="mb-1">
        <strong>Type:</strong> <%= data.type %>
      </p>
      <p class="mb-1">
        <strong>Magic:</strong> <%= data.isMagic %>
      </p>
      <p class="mb-1">
        <strong>Damage:</strong> <%= data.damage %>
      </p>
      <p class="mb-1">
        <strong>Weight: </strong> <%= data.weight %>kg
      </p>
    </div>
  </div>
</div>
<%- include("partials/footer") %>
